*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    
    background-image: linear-gradient(to left, #051937, #1e4b6c, #40849f, #70c0ce, #adfff9);
    
}
.contenedor {
 

}

.bg-uno{
    background-color: #1C2331;
}


.contacto {
    
    height: 60vh;
    background-size: cover;
    color:aliceblue;
}

