*{
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url('../img/fondo10.jpg');
  width: auto;
  height: auto;
}

.contenedor {
  /* background-color: #09426d; */
  border-radius: 20px;
  box-shadow: burlywood;
  opacity: 90%;
}

.card {
  box-shadow: 11px 11px 19px -10px rgba(0,0,0,0.81);
  background-color: -o-linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%); ;
  color: black;
}

.cardStyles {
  box-shadow: 11px 11px 19px -10px rgba(0,0,0,0.81);
  background-color:#cfd8dc;
  opacity: 88%;
  color: black;
}

.btn {
  background-color: #040640;
  color:white;
}

.flip-card {
  background-color: transparent;
  width: 470px;
  height: 470px; 
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 80%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 11px 11px 19px -10px rgba(0,0,0,0.81);
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color:black;
  color: black;
  transform: rotateY(180deg);
  opacity:63%;
}

.btn {
  border-radius: 15cm;
  background-color: #304ffe;
}

.aNavTable{
  color: #051937;
  font-weight: bold;
}

.aNavTable:hover{
  color: #051937;
}

.carousel {
  border-radius: 3%;
}

.contacto { 
  height: 60vh;
  background-size: cover;
  color:aliceblue;
}

.navbarPrin {
  height: 100%;
  width: 125px;
  position: fixed;
  z-index: 1; 
  top: 0;
  left: 0;
  opacity: 88%;    
  overflow-x: hidden;
  padding-top: 16px;
  background-color: #040640 !important;
}

.navbarPrin ul{
  
}
  
.navbarPrin a {
  padding: 8px 6px 8px 6px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
}
  
.navbarPrin a:hover {
  background-color: #cfd8dc;
  color: #040640;
  box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.75);
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .navbarPrin {padding-top: 15px;
    width: 10px;}
  .navbarPrin a {font-size: 13px;}

  
  
}
.container{
  max-width: 80%;
}
.nav-pills .nav-link.active{
  background-color: #040640;;
  box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.75);
  color: white !important;
}

.menuAboutUs{
  border-radius: 3%;
}

.flip-card2 {
  background-color: transparent;
  width: auto;
  height: auto;
  perspective: 1000px;
}

.flip-card-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card2:hover .flip-card-inner2 {
  transform: rotateY(180deg);
}

.flip-card-front2, .flip-card-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front2 {
  background-color: #bbb;
  color: black;
}

.flip-card-back2 {
  background-color: #fff;
  color: white;
  transform: rotateY(180deg);
}

.divCard{
  width:290px;
  height:405px;
  box-shadow: 10px 13px 19px -5px rgba(0,0,0,0.75); 
}

.sizeDivCard{
  width:290px;
  height:300px;
}

.imgStyle{
  width:250px;height:250px; margin: 5px;
}